<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
  ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <!--  <link href="/css/jumbotron-narrow.css" rel="stylesheet">-->
  <title>Hello, world!</title>
</head>
<body>
<nav class="navbar bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a href="/home" class="navbar-brand" style="color: white; font-weight: bold;">🍰 뭐먹 Home</a>
    <div class="ml-auto">
      <a href="/view/members" style="color: white; font-weight: bold;">내 정보</a>
      <a href="/view/restaurants" style="color: white; font-weight: bold;">내 식당</a>
      <a href="/view/auth/login" style="color: white; font-weight: bold;">로그아웃</a>
    </div>
  </div>
</nav>
</body>
